@model Library.Domain.FollowUp

<h2>Create FollowUp</h2>

<form asp-action="Create" method="post">

    <div>
        <label>Date</label>
        <input asp-for="FollowUpDate" type="date" />
    </div>

    <div>
        <label>Notes</label>
        <input asp-for="Notes" />
    </div>

    <div>
        <label>Inspection</label>
        <select asp-for="InspectionId">
            @foreach (var i in ViewBag.Inspections)
            {
                <option value="@i.Id">@i.InspectionName</option>
            }
        </select>
    </div>

    <button type="submit">Save</button>

</form>