@model IEnumerable<oop_s2_2_mvc_76122.Models.FollowUp>

<h2>FollowUps</h2>

<a asp-action="Create">Create New</a>

<table>
    <tr>
        <th>Due Date</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DueDate</td>
            <td>@item.Status</td>
        </tr>
    }
</table>