<h2>Follow Ups</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Inspector"))
{
    <a class="btn btn-primary mb-3" href="/FollowUp/Create">+ New FollowUp</a>
}

<table class="table table-striped">
    <tr>
        <th>Status</th>
        <th>Due Date</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Status</td>
            <td>@item.DueDate</td>
            <td>

                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-danger btn-sm" href="/FollowUp/Delete/@item.Id">Delete</a>
                }

            </td>
        </tr>
    }
</table>