@model IEnumerable<Library.Domain.FollowUp>

<h2>Follow Ups</h2>

<a href="/FollowUp/Create">Create New</a>

<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Notes</th>
        <th>Inspection</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FollowUpDate.ToShortDateString()</td>
            <td>@item.Notes</td>
            <td>@item.Inspection.InspectionName</td>
        </tr>
    }
    </tbody>
</table>