@model oop_s2_2_mvc_76122.Models.Premises

<h2>Create Premises</h2>

<form asp-action="Create" method="post">

    <input asp-for="Name" class="form-control mb-2" placeholder="Name" />
    <input asp-for="Address" class="form-control mb-2" placeholder="Address" />
    <input asp-for="Town" class="form-control mb-2" placeholder="Town" />
    <input asp-for="RiskRating" class="form-control mb-2" placeholder="Low/Medium/High" />

    <button type="submit" class="btn btn-success">Save</button>

</form>