@model oop_s2_2_mvc_76122.Models.Inspection

<h2>Create Inspection</h2>

<form asp-action="Create">
    <div>
        <label asp-for="PremisesId"></label>
        <input asp-for="PremisesId" />
    </div>

    <div>
        <label asp-for="InspectionDate"></label>
        <input asp-for="InspectionDate" />
    </div>

    <div>
        <label asp-for="Score"></label>
        <input asp-for="Score" />
    </div>

    <div>
        <label asp-for="Outcome"></label>
        <input asp-for="Outcome" />
    </div>

    <div>
        <label asp-for="Notes"></label>
        <input asp-for="Notes" />
    </div>

    <button type="submit">Save</button>
</form>