<h2>Create Inspection</h2>

<form method="post">

    <select name="PremisesId" class="form-control mb-2">
        @foreach (var p in ViewBag.Premises)
        {
            <option value="@p.Id">@p.Name</option>
        }
    </select>

    <input name="InspectionDate" type="date" class="form-control mb-2" />

    <input name="Score" class="form-control mb-2" placeholder="Score" />

    <input name="Outcome" class="form-control mb-2" placeholder="Pass/Fail" />

    <input name="Notes" class="form-control mb-2" placeholder="Notes" />

    <button class="btn btn-success">Save</button>

</form>