@model List<oop_s2_2_mvc_76122.Models.Inspection>

<h2>Inspections</h2>

<a asp-action="Create">Create New</a>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Score</th>
        <th>Outcome</th>
        <th>Premises</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.InspectionDate</td>
            <td>@item.Score</td>
            <td>@item.Outcome</td>
            <td>@item.Premises?.Name</td>
        </tr>
    }
</table>